<!DOCTYPE html>
<html>
<head> 
	<title> Assignment 2/ second page </title>
	<link rel="stylesheet" type="text/css" href="../stylesheet/style.css">
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Noto+Serif+KR|PT+Sans+Narrow" rel="stylesheet"> 
</head>

<body>
	<h1> More photos that represent me</h1>

	<!-- back button ="../index.html" -->
	<div><a href="../index.html" class="button button1" > Go Back to First Page </a></div>
	
	<br>
<!-- insert last 5 images -->

<!-- 6 -->
<figure> 
	<img src="../images/notebooks.jpeg" width="275px" height="229px" alt="bunch of moleskines">
	<figcaption> I developed a habit of writing in elementary school when my mom gave me a really nice notebook before a trip. I can write on anything, hotel memo, tissue paper, and I will try to keep them at the back pocket of my moleskines.</figcaption>
</figure>
<!-- 7 -->
<figure>
	<img src="../images/clouds.jpeg"
	width="400px" height="265px"
	alt="very cute clouds">
	<figcaption> Specific clouds like this reminds me of several things: one, elementary school; second, paintings from Monet and Peder Kroyer; third, my favorite season of all times, the autumn. </figcaption>	
</figure>

<!-- 8 -->
<figure>
	<img src="../images/hayaomiyazaki.jpeg"
	width="400" height="563"
	alt="film, The Wind Rises by Miyazaki">
	<figcaption> Despite all other good Ghibli films, <cite>The Wind Rises</cite>, Miyazaki's most recent production, is what I appreciate the most. Joe Hisaishi's music was touching, as much as in Spirited Away. </figcaption>
</figure>

<!-- 9 -->
<figure> 
	<img src="../images/wien.jpeg" width="400px" height="619px"
	alt="wien, old city center near  Habsburgergasse">
	<figcaption>For reasons, my family lived in Vienna for a couple of years when I turned 1 year old. I have forgotten how to speak German, but I can order food in restaurants without trouble. </figcaption>
</figure>
<!-- 10 -->
<figure>
	<img src="../images/wienerschnitzel.jpeg" width="550px" height="367px" alt="comfort food">
	<figcaption>Wiener Schnitzel is a combination of my favorite food: fried pork (love katsu as well), lemon, plus creamy(well cooked potatoes) sour(a delicious dressing balanced with acidity) salad. It is perfect for all season. </figcaption>
</figure>
<br/>
<p id="lastnote"> 
	I think ultimately what we surround ourselves with and get involved in represent us to some degree. Hence I chose what I enjoy or have emotional connection to represent me. 

<hr/>
</body>
</html>

	